<%= flash[:alert]%>
<br>
<p>TST AUTOMATYCZNEGO DEPLOYMENTU Z GITHUBA</p>
  <% if user_signed_in? %>
    <h3><%= link_to 'Dodaj znalezisko', new_post_path %></h3>
  <% end %>

<% @posts.each do |post| %>

    <div id="posts_list">
      <h3><%= link_to "#{post.title}", post%></h3>
      <h4><%= truncate "#{post.content}", length: 160 %></h4>
      <h3> <%= link_to like_post_path(post), class: "like", method: :put do %>
          <button type="button" class="btn btn-info" aria-label="Left ALign">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badage"> <%= post.get_upvotes.size %></span>
          </button>
          <% end %>
          <%= link_to unlike_post_path(post), class: "unlike", method: :put do %>
              <button type="button" class="btn btn-info" aria-label="Right Align">
                  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badage"> <%= post.get_downvotes.size %></span>
              </button>
              <% end %>
       </h3>
    Dodane przez <%= post.user.email%>
      <br>
      <% if can? :update, post %>
        <%= link_to 'Edytuj', edit_post_path(post) %>
      <% end %>

      <% if can? :update, post%>
        <%= link_to 'Usuń', post, method: :delete, data: {confirm: 'Chcesz usunąć znalezisko?'} %>
      <% end %>
    </div>
    <br>
    <br>


<% end %>
