<!DOCTYPE html>
<html>
<head>
  <title>Agregat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="application.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<header id="main_navigation" class="clearfix">
  <a herf="#" class="name"> Agregat</a>
  <nav>
    <% if user_signed_in?  %>
     Witaj, <%= current_user.email %>
    <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "Logowanie", new_user_session_path %>
    <% end %>
  </nav>
</header>
<div class="welcome">
  <p> Witaj w agregacie treści.</p>
  <p> Aplikacja ta służy do agregowania treści znalezionych w sieci.</p>
</div>
<p class="notice"> <%= notice %> </p>
<p class="alert"> <%= alert %> </p>

  <%= yield %>
</div>


</body>
</html>
